@font-face { 
	font-family: 'Alpha Echo'; 
	src: url('../fonts/alphaecho.eot'); 
	src: local('☺'), url('../fonts/alphaecho.woff') format('woff'), url('../fonts/alphaecho.ttf') format('truetype'), url('../fonts/alphaecho.svg#webfontlgeWQZ0Q') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'Copystruct'; 
	src: url('../fonts/copystruct.eot'); 
	src: local('☺'), url('../fonts/copystruct.woff') format('woff'), url('../fonts/copystruct.ttf') format('truetype'), url('../fonts/copystruct.svg#webfontlgeWQZ0Q') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'Copystruct Bold'; 
	src: url('../fonts/copystruct-bold.eot'); 
	src: local('☺'), url('../fonts/copystruct-bold.woff') format('woff'), url('../fonts/copystruct-bold.ttf') format('truetype'), url('../fonts/copystruct-bold.svg#webfontlgeWQZ0Q') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}